*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
}
.main, .nav, .juego , .respuesta {
    width: 90%;
    margin: 20px auto;
    background: rgba(5, 27, 226, 0.26);
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}
.main .logo, .logo2 {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav {
    text-align: justify;
}

.juego {
    width: 50%;
    border-bottom: none;
    border-radius: 10px;
    text-align: center;
}
.juego .options input{
    margin: 20px;
}
.juego .options p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
}
.boton{
    margin-left: 15%;
}